#### Hemera user configuration file sample.
#### Copy this file to hemera.conf (won't be versioned) and adapt it.

## Any configuration element in this user configuration file will override corresponding global configuration element.

### Information
## For each core module, are defined:
# - a mode (allow to swith from some tools to others)
# - a main tool path
# - general data
# - (according to the mode) additional specific information, like secondary/additional tools and data

## Path can be absolute, relative to [HEMERA_TP_PATH]
#   or "simple" if corresponding tool is available from PATH environment variable.

## Special variables which will be replaced (when needed):
# $input: input of the tool
# $output: output of the tool
# $h_language: Hemera language (defined by hemera.language)


### General.
############
# Language of Internationalized Hemera strings.
# N.B.: a file named hemera-i18n.<hemera.language> must exist in i18n/ sub-directory.
hemera.language="fr"

# The Hemera logs directory (where log files will be created).
hemera.run.log="~/hemera/run/log"

# The Hemera run temporary directory (where event temporary files will be created,
#  like speech recording).
hemera.run.temp="~/hemera/tmp"

# The Hemera run queue directory (where event files will be created).
# The event manager will look for event in this queue.
hemera.run.queue="~/hemera/queue"


### Speech core module.
#######################
#hemera.core.speech.espeak.language="mb/mb-fr4"

# Language definition - relative to [HEMERA_TP_PATH]/speech/data/language
#hemera.core.speech.mbrola.language="fr4"


### Speech recognition core module.
###################################


### Recognized commands
#######################
# The search URL.
# IMPORTANT: corresponding URL contents is then parsed, if you use a no default link
#  it is needed to contact Hemera team to update parsing system.
# e.g.: for wikipedia mobile: http://$h_language.mobile.wikipedia.org/transcode.php?go=$input
#hemera.core.command.search.url="http://$h_language.mobile.wikipedia.org/transcode.php?go=$input"
